/* store all rules related to the app itself */

body, html {
    height: 100%;
}
  

body { 
    background: linear-gradient(rgba(117,117,129,.5), rgba(117, 117, 129, 0.5)), url(../img/bg-login.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
  }

.color-link {
    color : grey;
}


.btn-link:hover {
   color: #2b2b2b;
}


/* ------------------  GROUPES PAGE  ------------------*/

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.btn-deny:hover {
    background-color: #cc3030;
}

.btn-accept:hover {
    background-color: #26ac6d;
}


.nounderline {
    color : black;
}

.nounderline:hover {
    text-decoration: none;
    color : black;
}


/* ------------------  LISTES PAGE  ------------------*/

/* stick the button at the bottom of the card */
.card-body {
    display: flex;
    flex-direction: column;
  }
  
a.btn {
    margin-top: auto;
}

ul 
{
    padding-left: 0.8em;
}

.container-cards {
    display : flex;
    overflow-x: auto;
     white-space: nowrap;
}

.mw {
    min-width: 230px;
}


/* custom scroll bar for chrome */

/* width */
 ::-webkit-scrollbar {
    width: 5x;
}

/* Track */
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
 ::-webkit-scrollbar-thumb {
    background: #dc3545; 
    border-radius: 10px;
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #c93443; 
}